*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #f6f6f6;
  color: black;
}

button{
  background-color: gold;
  border-radius: 5px;
  height: 2rem;
  width: 6rem;
  margin: 2rem;
}